<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<!--
ชื่อ hibernate.cfg.xml เป็นชื่อค่าเริ่มต้นที่ระบบจะใช้เราสามารถ custom เป็นชื่อได้
แต่เราก็ต้องแก้ code ตอน build session เอง เช่น
 SessionFactory sessionFactory = new Configuration().configure("hibernate-dev.cfg.xml").buildSessionFactory();
เป็นต้น 

ตัวอย่างอื่นๆ ดูจาก 
https://javabydeveloper.com/hibernate-5-example-with-different-configurations/
https://stackoverflow.com/questions/2067526/hibernate-connection-pool
https://www.digitalocean.com/community/tutorials/hibernate-sessionfactory
 -->        

<hibernate-configuration>
	<session-factory>
	
		<!-- Database Connection Settings -->
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
		<!-- 
		<property name="hibernate.dialect">org.hibernate.dialect.MariaDB102Dialect </property>
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mariadb://localhost:8094/tutorialDb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">a1234</property> 
		-->
		
	    <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
	    <property name="hibernate.connection.url">jdbc:firebird://localhost:3050/D:/javaDemo1/TESTHIBERNET.FDB?encoding=UTF8</property>
	    <property name="hibernate.connection.username">SYSDBA</property>
	    <property name="hibernate.connection.password">masterkey</property>

		<!-- Specifying Session Context -->
		<!-- ดูเพิ่มเติม https://docs.jboss.org/hibernate/stable/core.old/reference/en/html/architecture-current-session.html -->
		<!-- ไม่มีผลกับ stateless  , ผูก session กับ thread → เสี่ยง leak -->
		<!--<property name="hibernate.current_session_context_class">thread</property> -->

		<!-- 
		hbm2ddl.auto มีให้เลือกดังนี้
		validate: ตรวจสอบว่า Schema ของฐานข้อมูลตรงกับ Entity mapping ใน Hibernate หรือไม่ หากไม่ตรงจะเกิด Error
		update: อัปเดต Schema ของฐานข้อมูลให้ตรงกับ Entity mapping ใน Hibernate โดยไม่ทำให้ข้อมูลเดิมหาย
		create: สร้าง Schema ใหม่ทุกครั้งที่ SessionFactory ถูกสร้างขึ้น และข้อมูลเดิมจะถูกลบทิ้ง
		create-drop: เหมือน create แต่จะลบ Schema ทิ้งเมื่อ SessionFactory ถูกปิด
		none: ปิดการทำงานของ feature นี้
		 -->
		<!-- use 'create' to Create tables on application startup else use 'update'-->
      	<property name="hibernate.hbm2ddl.auto">update</property>
       	<!--<property name="hibernate.hbm2ddl.auto">create</property>-->
       	
       	<property name="hibernate.show_sql">true</property>
		<!-- <property name="hibernate.format_sql">true</property> -->
       	
		<!-- เป็นการบอกว่าเรากำลังจะเชื่อมต่อกับฐานข้อมูลชนิดไหน -->
		<!-- กรณีใช้ hibernate 6.x  -->
		<property name="hibernate.dialect">org.hibernate.community.dialect.FirebirdDialect</property>
		
		<!-- กำหนด connection pool ไม่ต้องกำหนดแล้วใน version นี้เพราะมันจะค้นหาอัตโนมัติ -->
		
		<property name="hibernate.hikari.minimumIdle">1</property>
		<property name="hibernate.hikari.maximumPoolSize">20</property>
		<property name="hibernate.hikari.idleTimeout">180000</property>
		<property name="hibernate.hikari.connectionTimeout">30000</property>
		<property name="hibernate.hikari.maxLifetime">1800000</property>
		
		<!-- chart แนะนำกรณีใช้ stateless / native-heavy -->
		<!-- <property name="hibernate.jdbc.batch_size">50</property>
		<property name="hibernate.order_updates">true</property>
		<property name="hibernate.order_inserts">true</property> -->
		
		<!-- และถ้าใช้ native query เยอะ -->
		<!-- <property name="hibernate.query.native.ignore_jdbc_parameters">true</property>
		 -->

	</session-factory>
</hibernate-configuration>